@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Archangelsk';
    src: url('../fonts/Archangelsk.eot');
    src: url('..fonts/Archangelsk.ttf');
    src: url('../fonts/Archangelsk.woff');
    font-weight: 400;
}